{% extends 'base.html.twig' %}

{% block title %}Blank page{% endblock %}

{% block container %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Page not implemented</h1>
            <p class="col-md-10 fs-4">This page and related elements weren't implemented yet.</br>Please check other tabs!</p>
            <a href="{{ path('app_home') }}" class="btn btn-primary btn-lg mt-3" type="button">Go homepage</a>
        </div>
    </div>
{% endblock %}
