{% extends 'base.html.twig' %}

{% block container %}
    <div style="background-color: lightsteelblue; height: 100%; width: 100%">
        <a href="{{ path('app_logout') }}">logout</a>
    </div>
{% endblock %}