{% extends 'base.html.twig' %}

{% block title %}Email verification{% endblock %}

{% block container %}
    <div class="jumbotron d-flex align-items-center" style="height: 85%;">
        <h2><span class="badge bg-secondary">Email was sent successful. Please check your email in purpose to activate your account :)</span></h2>
    </div>
{% endblock %}

