{% extends 'base.html.twig' %}

{% block title %}Email verification{% endblock %}

{% block container %}
    <p>Email was sent successful. Please check your email in purpose to activate your account :)</p>
{% endblock %}

