{% extends 'base.html.twig' %}

{% block title %}Email verification{% endblock %}

{% block container %}

    <div class="row m-1">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Account activation</h1>
                <p class="col-md-8 fs-4">Email was sent successful. Please check your email in purpose to activate your account :)</p>
            </div>
        </div>
    </div>

{% endblock %}

